@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: #CFB53B;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 8em;
}

input {
    padding: 1em;
    border-radius: 0.2em;
}

input[type=text], input[type=email], textarea {
    border: 1px gray solid;
    width: 80%;
    margin: 0.5em;
}

input[type=submit] {
    background-color: #1A237E;
    border: 1px #1A237E solid;
    color: #FFF;
    font-weight: bold;
    margin-left: 6px;
}

textarea {
    width: 85%;
    height: 100%;
}

label {
    margin-left: 6px;
}

.header {
    color: #ffffff;
}

.header img {
    width: 100%;
    height: auto;
}

.navigation {
    text-align: center;
}

.navigation > a {
    display: block;
    margin: 1em 1em;
    padding: 0 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    border-bottom: 3px black solid;
    background:
     linear-gradient(
       to bottom, black 0%,
       black 100%
     );
    background-position: 0 110%;
    background-repeat: repeat-x;
    background-size: 4px 1.5px;
    transition: background-size .2s;
}

.navigation > a:hover {
    background-size: 4px 50px;
    border-bottom: 0;
    color: white;
}

.jumbotron {
    text-align: center;
    background-image: url('imgs/banniere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /*padding-top: 10%;*/
}

.jumbotron > h2 {
    color: #1A237E;
    font-size: 4em;
    font-style: italic;
}

.main {
    padding: 3em;
}

.main > h2 {
    text-align: center;
    font-size: 3em;
}

.row img {
    min-width: calc(100% + 300px);
    margin-left: -150px;
	width: 100%;
    height: 50%;
    border-radius: 0.2em;
}

.centered {
    text-align: center;
}

.links > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    border: 1px solid;
    border-radius: 0.2em;
    color: #FFF;
    padding: 1em;
}

.links #donation {
    background-color: #CFB53B;
    border-color: #CFB53B;
}

.links #instagram {
    background-color: #880E4F;
    border-color: #880E4F;
}

.links #twitter {
    background-color: #0D47A1;
    border-color: #0D47A1;
}
 
.footer {
    padding: 3em;
    text-align: center;
    background-color: #F5F5F5;
}

#intro {
    margin: 5em 0;
}

#agriculture span {
    color: darkgreen;
}

#patrimoine span {
    color: #CFB53B;
}

#economie span {
    color: gray;
}

#contact iframe {
    width: 300px;
    height: 300px;
}

#contact p {
    font-size: 1em;
}

@media only screen and (min-width: 400px) {
    #contact iframe {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 600px) {
    .main {
        padding: 8em;
    }

    .row p {
        font-size: 2em;
    }

    .navigation > a {
        display: inline;
        margin: 0 1em;
    }

    #contact iframe {
        width: 500px;
        height: 500px;
    }

    .links > a {
        padding: 1em 10em;
    }
}

@media only screen and (min-width: 1200px) {
    .row {
        display: flex;
    }

    .row img {
        margin: 2em;
        min-width: 45%;
        margin-left: 0;
        width: 150%;
        height: 50%;
    }

    .row p {
        margin: 1em;
    }

    #agriculture > img {
        order: 2;
    }

    #economie > img {
        order: 2;
    }
}